@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.natural-interaction{
    font-style: italic;
    color: #1f2933;
    font-weight: bold;
}
.card-description{
    font-size: 14px;
    color: #7b8794;
}
.card-heading{
    font-size: 18px;
    font-weight: 800;
    color: #1f2933;
}
.image{
    height: 50px;
    width: 50px;
}
.card-container{
    font-family: "Roboto";
    text-align: center;
}
.main-heading{
    font-family: "Roboto";
    font-weight: bold;
    color: #1f2933;
    font-size: 26px;
}
.bg-container{
    padding: 16px;
}